header {
    padding: 30px;
    background: #710404;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    background-image: url('https://images.unsplash.com/photo-1500635523027-2f05e513f066?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Righteous', cursive;
    
}

body {
    font-family: 'Oswald', sans-serif;
}

main {
    display: grid;
    grid-template-areas:
        'aside article article'
        'aside footer footer';
    grid-gap: 30px;
}        

aside {
    grid-area: aside;
    background: #000000;
}

article {
    grid-area: article;
    background: #ffffff;
}

footer {
    grid-area: footer;
    background: #FF6D00;
}
