header {
    padding: 30px;
    background: #710404;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    background-image: url('https://images.unsplash.com/photo-1528082992860-d520150d6f6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80');
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Lobster', cursive;
    
}

body {
    font-family: 'Darker Grotesque', sans-serif;
}

main {
    display: grid;
    grid-template-areas:
        'aside article article'
        'aside footer footer';
    grid-gap: 30px;
}        

aside {
    grid-area: aside;
    background: #5b58e4;
}

article {
    grid-area: article;
    background: #ffffff;
}

footer {
    grid-area: footer;
    background: #c6ffc5;
}
